<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
        <add key="dbConnectionString" value="Data Source='InventoryDb.sdf'; LCID=1033;   Password=D50nulka" />
    	<add key="excelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\\temp\\INVENTORY1.xlsx;Extended Properties='Excel 12.0;HDR=YES;'"/>
    	<add key="outputConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=c:\\temp\\INVENTORY_FULL.xlsx;Extended Properties='Excel 12.0;HDR=YES;'"/>
    	<add key="templateFile" value="c:/temp/INVENTORY_template.xlsx"/>
    	<add key="outputFile" value="c:/temp/INVENTORY_FULL.xlsx"/>
	</appSettings>
</configuration>